{% extends 'xtracto/collection.html'%}
    {% load static %}
    <title>{% block title %}Dashboard Xtracto {% endblock %}</title>

    {% block css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    {% endblock %}

{% block middlesection%}
<div>
    <p style="background-color: #F7F7F8; padding-left: 4em; padding-top: 2em; padding-bottom: 1em;">
        <strong style="font-size: 16px;">Welcome Back, {{username}}</strong>
    </p>
</div>
</div>
            <!-- middle section -->
            <div class="middle">

                <div class="middle m-top">
                    <div class="m-one">
                        <p><strong>{{no_of_uploads}}</strong><i class="fa fa-upload"></i></p>
                        <p>Total Uploads</p>


                    </div>
                    <div class="m-two">
                        <p><strong>{{no_of_saved}}</strong><i class="fa fa-file-text"></i></p>
                        <p>Total Saved</p>
                    </div>
                    <div class="m-three">
                        <p><strong>22</strong><i class="fa fa-share-alt"></i></p>
                        <p>Total Shared</p>
                    </div>
                    <div class="m-four">
                        <p><strong>10</strong><i class="fa fa-download"></i></p>
                        <p>Total Downloads</p>
                    </div>
                </div>

                <p class="p-title"><strong>My Activities</strong></p>
                <div class="middle m-bottom">
                    <div class="m-headers">
                        <table class="table-1">
                            <tr class="cell1">
                                <td class="cell1">
                                    <p><a href="" class="td1">All</a></p>
                                </td>
                                <td>
                                    <a href="" class="td2">Uploaded</a>
                                </td>
                                <td>
                                    <a href="" class="td3">Downloaded</a>
                                </td>
                                <td>
                                    <a href="" class="td4">Saved</a>
                                </td>
                                <td>
                                    <a href="" class="td5">Shared</a>
                                </td>
                            </tr>
                        </table>

                        <table class="table-2">
                            <tr class="cell3">
                                <td>
                                    <p class="cell3 td6">Uploaded</p>
                                </td>
                                <td class="cell2">_category_.json</td>
                                <td class="cell2">Today</td>
                            </tr>
                            <tr class="cell2">
                                <td>
                                    <p class="cell2 td7"> Saved</p>
                                </td>
                                <td class="cell2">_names_.json</td>
                                <td class="cell2">Today</td>
                            </tr>
                            <tr class="cell2">
                                <td>
                                    <p class="cell2 td8">Shared</p>
                                </td>
                                <td class="cell2">_vcheck_.csv</td>
                                <td class="cell2">Yesterday</td>
                            </tr>
                        </table>

                    </div>
                </div>
                <p style="text-align: right; padding-right: 4em; padding-top: 10px;">1-3 of 20 <i
                        class="fa fa-angle-left" style="padding-right: 15px;"></i><i class="fa fa-angle-right"
                        style="padding-right: 15px;"></i><a href="{% url 'xtracto:collection' %}">View All</a></p>
                <p class="p-title"><strong>My Collections</strong></p>
                <div class="middle m-bottom-end">
                    <div class="m-headers">
                        <table class="table-3">
                            <tr>
                                <td>
                                    <a href="" class="tc1">Name</a>
                                </td>
                                <td>
                                    <a href="" class="tc1">Date</a>
                                </td>
                                <td class="cell-tc1">
                                    <a href="" class="tc1">Filter by:None</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="tc2"><img src="pdf-icon.svg" alt=""
                                        style="width: 20px;margin-right: 15px;">Expatriate document for delivery.pdf
                                </td>
                                <td class="tc2">July 11, 2022</td>
                                <td class="tc2 dots"><a href="" class="fa fa-ellipsis-v"></a></td>
                            </tr>
                            <tr>
                                <td class="tc2"><img src="pdf-icon.svg" alt=""
                                        style="width: 20px;margin-right: 15px;">_category_.csv</td>
                                <td class="tc2">July 11, 2022</td>
                                <td class="tc2 dots"><a href="" class="fa fa-ellipsis-v"></a></td>
                            </tr>
                            <tr>
                                <td class="tc2"><img src="pdf-icon.svg" alt=""
                                        style="width: 20px;margin-right: 15px;">graphics-details.png</td>
                                <td class="tc2">July 22, 2022</td>
                                <td class="tc2 dots"><a href="" class="fa fa-ellipsis-v"></a></td>
                            </tr>

                        </table>
                        <p style="text-align: right; padding-right: 4em; padding-bottom: 10px;">1-3 of 20 <i
                                class="fa fa-angle-left" style="padding-right: 15px;"></i><i class="fa fa-angle-right"
                                style="padding-right: 15px;"></i><a href="{% url 'xtracto:collection' %}">View All</a>
                        </p>

                    </div>
                </div>
            </div>

{% endblock %}

            