{% extends 'xtracto/dashboard.html' %}

<title>{% block title %}Xtracto: DOCS {% endblock %}</title>


{% load static %}

{% block css %}
    <link href="{% static 'css/about.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/docs.css' %}" rel="stylesheet">
{% endblock %}


{% block notfordocs %}
            <h5 class="docs-h5">
                Xtracto Docs
            </h5>
            
            <h6 id="docs-intro">
                Introduction
            </h6>
            <h6 id="docs-started">
                Getting Started
            </h6>

            <h6 id="docs-libraries">
                Libraries and SDK
            </h6>
            {% endblock %}

            {% block notfordocs2 %}
            
        {% endblock %}



        {% block main %}
            <div class="main-docs">

            
            <h5 class="docs-h5">
                Welcome
            </h5>

            <p class="docs-body">
                Welcome to Xtracto's Documentation. Here you will find references and documentation on how to use our platform and what exactly it is about
            </p>

            <h6 >
                Product Brief
            </h6>
            <p class="docs-body">
                Xtracto is an easy-to-use software that collects, displays, and allows users to edit the metadata of different uploaded files, helping them manage their digital assets better. From images, PDFs, CSV, and JSON file types, the platform also goes beyond metadata extraction to enable users to convert file types, and resize content to fit their requirements.
                Xtracto would serve as a seamless platform that empowers users to control how metadata is managed within the organization. This metadata extraction and editing tool would improve how companies search for and find their assets, increase document security, improve data governance, improve data rights management, and aid regulatory compliance.

            </p>

            <h6 >
                Research Background
            </h6>
            <p class="docs-body">
                In its most simplified sense, metadata is data about other data. It is a small bit of information that defines a broader sense of data, and an invaluable resource for gaining complete control of your data and digital file ecosystem.
                The main purpose of metadata is to make tracking essential data faster and easier. That's why it is often used to organize and remodel complicated data into a practical and clear form.
                Without metadata, finding the right files would be virtually impossible as it adds structure to a file and assigns values, such as a case ID, classification, or keywords, that makes it easier to find. 
                
            </p>

            <h6 >
                Usecases
            </h6>
            <p class="docs-body">
                Individual/ Creative Use: Extracting metadata from file types like images, videos, or audios can help you avoid piracy and copyright infringements on those digital assets. A product like Brand Folder enables users to upload images and documents to extract the metadata from these files.
                Enterprise Use: Extracting these metadata makes it easier for enterprises with huge repositories of digital assets to find the files they need, whether it's for marketing, sales, support, or legal purposes. The tool also helps with protecting sensitive documents, improve digital rights management through metadata tags, and aid regulatory compliance during auditing. Tools like Exiftool and PhotoMe enable enterprises to do this.
                A tool like MetaGooFil also protects organizations from attackers by scouring the internet looking for documents that belong to your target organization and downloads them in an attempt to extract useful metadata.
                
                
            </p>

            <h6 >
                Product pages and features
            </h6>
            <p class="docs-body">
                Besides its simple and seamless user experience, Xtracto would include (but not limited to) the following features to enable users to effectively utilize it. 
                A landing page, allowing site visitors to understand what the webapp can do, and how to navigate it. 
                A Sign in and Sign Up page to allow users create and manage their profiles and documents on the webapp.
                An About page to give further insight on Xtracto's work and mission. 
                A Contact page to enable users access support when the need arises.
                A Dashboard to give users control and access to the platform. This is where user files can be uploaded, extract or edit metadata, save, export, share website embed, or download files, etc.
                
            </p>

            </div>

            <div class="getting_started">
                <h5 class="docs-h5">
                    Navigating Xtracto
                </h5>
                <p class="docs-body">
                    Besides its simple and seamless user experience, Xtracto would include (but not limited to) the following features to enable users to effectively utilize it.
                    A landing page, allowing site visitors to understand what the webapp can do, and how to navigate it. 
                    A Sign in and Sign Up page to allow users create and manage their profiles and documents on the webapp.
                    An About page to give further insight on Xtracto's work and mission. 
                    A Contact page to enable users access support when the need arises.
                    A Dashboard to give users control and access to the platform. This is where user files can be uploaded, extract or edit metadata, save, export, share website embed, or download files, etc.
                    
                </p>
                <h6>
                    At the point of entry into our site, you will be able to:
                </h6>
                
                <p class="docs-body">
                    1. Sign up for exclusive features that would launch you into a journey of your needs as a user being met
                    2. Have access to your dashboard after signing up. In there you would have the options of saving exporting, downloading and sharing files
                    3. Search for previously saved files which are well categorizes.
                </p>

                <p class="docs-body">
                    <h6>
                    Exclusive features available to users
                    </h6>
                    <ul>
                        <ol class="docs-list">
                            Metadata Extraction Tool
                        </ol>
                        <ol class="docs-list">
                            File Conversion Tool
                        </ol>
                        <ol class="docs-list">
                            Etra metadata Tool
                        </ol>
                        <ol class="docs-list">
                            Generate Colour Palette Tool
                        </ol>
                        <ol class="docs-list">
                            Resize File Tool
                        </ol>

                    </ul>
                </p>

                <h6>
                    Future Improvements and Features
                </h6>
                
                <p class="docs-body">
                    Besides its simple and seamless user experience, Xtracto would include (but not limited to) the following features to enable users to effectively utilize it. 
                    A landing page, allowing site visitors to understand what the webapp can do, and how to navigate it.
                    A Sign in and Sign Up page to allow users create and manage their profiles and documents on the webapp.
                    An About page to give further insight on Xtracto's work and mission.
                    A Contact page to enable users access support when the need arises.
                    A Dashboard to give users control and access to the platform. This is where user files can be uploaded, extract or edit metadata, save, export, share website embed, or download files, etc.
                    
                </p>
            </div>

            <div class="libraries">
                <h5 class="docs-h5">
                    Navigating Xtracto
                </h5>
                <p class="docs-body">
                    <a href="https://xtracto85.herokuapp.com/">
                        https://xtracto85.herokuapp.com/
                    </a>
                </p>
            </div>
            <!-- <p class="docs-body">

            </p> -->


        {% endblock %}

        {% block notfordocs3 %}

        {% endblock %}


        {% block script %}
            
            <script src="{% static 'js/about.js' %}">

            </script>
            <script src="{% static 'js/docs.js' %}">

            </script>
        {% endblock %}