{% extends 'xtracto/About-us.html' %}

{% block title %}Xtracto: Password Reset {% endblock %}

{% load static %}
{% block css %}
    <link href="{% static 'css/about.css' %}" rel="stylesheet">
    <link href="{% static 'css/pwdreset.css' %}" rel="stylesheet">
    {% endblock %}

{% block content %}
    <div class="pwd-reset-div">
        
        <h1 class="trouble">
            {% block h1 %}
            Trouble Logging In?
            {% endblock %}
        </h1>
<form>
    {% block form %}
    <label for="password">New Password</label>
          <input type="password" spellcheck="true" name="password" id="password" required>

    <label for="password">Confirm Password</label>
          <input type="password" spellcheck="true" name="password" id="password" required>
          
    <input type="submit" name="submit" class="pwd-submit" value="Reset Password">
    {% endblock form %}
</form>
        
    </div>
    
    
{% endblock %}