h6{
    font-size: 15px;
    font-weight: 700;
    color: #1D3557;
}
.main-docs{
    width:90%;
    margin-right: 0;
}

.docs-h5{
    font-size: 22px;
    font-weight: 700;
    color: #1D3557;
    
}

.docs-body{
    font-size: 17px;
    color: #435773;
    margin-bottom:50px;
}

.main-docs h6{
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    padding-left: 0;
    list-style: disc;
    list-style-type: disc;
    
}
.docs-list{
    color: #1D3557;
    padding-left: 0;
}


.libraries, .getting_started{

    display: none;
    width: 80%;
}

.js-btn,.js-btn-x{
    display: none;
    color: #743CA8;
}


@media only screen and (max-width: 900px) {
    

    .main-docs, .libraries, .getting_started{
    
        width: 100%;
    }
}

@media only screen and (max-width: 650px) {
    

    .main-docs, .libraries, .getting_started{
        
        width: 100%;
    }
    .js-btn{
        display: inline-block;
        color: #435773;
    }
    .js-btn,.js-btn-x{
        color: black;
        font-size: 50px;
        position: absolute;
        right: 6.94846555%;
        top: 1.44759699%;
        z-index: 1;
    }
    .js-btn-x{
        color: #FFFFFF;
    }
    .toggle{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        padding: 50px;
        padding-top: 100px;
        background-color: #68788F;
        z-index: 1;
    }
}

