
 {% extends "xtracto/login.html" %} 
  {% block title %} XTRACTO: Register page {% endblock title %}
 
    <!-- Insert registration files from frontend -->
    



{% load crispy_forms_tags %}         

{% block content %}
<!--Register--> 

<main>
    <div class="container">
      <h1 class="register-h1-tag">Join us</h1>
      <p class="register-p-tag">Creating an account gives you access to all our great features</p>

      <div class="form-wrapper">
        <form method="POST">
			{% csrf_token %}
          <label for="email">Email Address</label>
          <input type="email" spellcheck="true" name="email" id="email" required title="Enter a valid Email">

          <label for="password">Password</label>
          <input type="password" spellcheck="true" name="password" id="password" required>

          <button type="submit" class="form-btn">Create Account</button>

          <p>Already have an account?<span><a href="{% url 'xtracto:login' %}">Log in</a></span></p>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
